---
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/logo.png';
import DividerLine from '../assets/line.png';
import H1 from '../components/typography/h1.astro';
import H2 from '../components/typography/h2.astro';
import P from '../components/typography/p.astro';
import StatisticsCardNumber from '../components/statistics/card-number.astro';
import StatisticsCardDuration from '../components/statistics/card-duration.astro';
import SlackerCard from '../components/slacker/card.astro';
import Modal from '../components/info-modal/modal';
import { Link } from '../components/typography/link';

const data = {
  episodes: 284,
  subscribers: 2100000,
  contentLength: {
    days: 5,
    hours: 20,
    minutes: 40,
    seconds: 18,
  },
  fanTime: {
    days: 5,
    hours: 20,
    minutes: 40,
    seconds: 18,
  },
  slacker: {
    type: 'mfm' as any,
    fans: 1000,
    mfm: {
      days: 0,
      hours: 5,
      minutes: 20,
      seconds: 18,
    },
  },
};
---

<Layout title="The Gentleman's Agreement | My First Million">
  <main class='max-w-4xl mx-auto p-8'>
    <img
      src={Logo}
      alt='My First Million Agreement Logo'
      class='max-w-full md:max-w-md mx-auto'
    />
    <H1>The Gentleman's Agreement</H1>
    <P>
      This is a virtual sweaty handshake agreement between the hosts of the <Link
        href='https://www.mfmpod.com/'>
        My First Million
      </Link> podcast, and their fans. The hosts, Sam and Shaan, are committed to
      producing the best content possible. They will work tirelessly to create content
      that is informative, entertaining, and engaging. In return, their fans are
      commited to hitting that "subscribe" button on the <Link
        href='https://www.youtube.com/@MyFirstMillionPod/featured'>
        MFM YouTube channel
      </Link>.
    </P>

    <P>
      So, has the agreement been honoured by both parties? Let's take a look at
      the numbers.
    </P>

    <H2>Current Stats</H2>
    <div class='grid gap-4 grid-cols-2 grid-rows-2 max-w-lg mx-auto my-8'>
      <StatisticsCardNumber
        label='Episodes'
        isMFM
        class='rounded-bl-3xl rounded-tr-3xl'
        value={data.episodes}
      />
      <StatisticsCardNumber
        label='Subscribers'
        isMFM={false}
        class='rounded-br-3xl rounded-tl-3xl'
        value={data.subscribers}
      />
      <StatisticsCardDuration
        label='Content Length'
        isMFM
        class='rounded-tl-3xl rounded-br-3xl'
        value={data.contentLength}
      />
      <StatisticsCardDuration
        label='Fan Time'
        isMFM={false}
        class='rounded-tr-3xl rounded-bl-3xl'
        value={data.fanTime}
      />
    </div>
    <Modal client:load />
    <H2>The Slacker</H2>
    <P>
      So, based on the data, who is the slacker that needs to start picking up
      their game to honor their end of the agreement?
    </P>
    <SlackerCard {...data.slacker} />
  </main>
  <footer class='p-8'>
    <img
      class='max-w-full md:max-w-md mx-auto'
      src={DividerLine}
      alt='Divider line'
    />
    <p class='text-center text-base opacity-75'>
      Made by <Link href='https://justindra.com'>Justin Rahardjo</Link>
    </p>
    <p class='text-center text-base opacity-75'>
      All artworks created through <Link href='https://www.midjourney.com/'>
        Midjourney
      </Link>.
    </p>
  </footer>
</Layout>
